body{
    background: #F5F5F5;
    
}
.faq-container {
    width:100vw;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .faq-title {
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
  }
  
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 50vw;
    font-size: 1.2vw;
    margin-top: 4vh;
    margin-left: 26vw;
  }
  
  .faq-item {
    margin-bottom: 1vh;  
    width: 24vw;
  }
  
  .faq-question {
    justify-content: space-between;
    cursor: pointer;
    padding: 1vh 1vw;
    border-radius: 0.5px;

  }
  
  /* .faq-question.active{
    font-weight: bold;
    color: blue;
  } */
 
  
  .faq-answer {
    padding: 3vh 1.5vw 1.5vh 3vw; 
    line-height: 2.5vh; 
    border: 0.1vw solid #ccc; 
    border-radius: 0.6vw; 
    border-top: none;
    background: #fafafa;
    margin-top: 2vh; 
    width: 20vw;
    font-size: 0.8vw; 
    height: 7vh;
    
  }

  .faq-button {
    display: block;
    width: 17vw;
    background: #5A58FF;
    color: white;
    border: none;
    border-radius: 1.0vw;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 5vh;
    font-weight: bold;
    margin-top: 7vh; 
    margin-left: 41vw; 
  }

  .faq-button:hover {
    background: #0056b3;
  }
  .faq-close-icon, .faq-open-icon {
    width: 1.5vw;
  }





  