 @media screen and (max-width: 480px) {
    /** 모바일 세로 */
  }
  
  @media screen and (max-width: 768px) {
    /** 모바일 가로, 타블렛 세로 */
  }
  
  @media screen and (max-width: 1024px) {
    /** 타블렛 가로, 노트북 */
  }
  
  @media screen and (max-width: 1280px) {
    /** 타블렛 가로, 노트북 */
  }
  
  @media screen and (min-width: 1281px) {
    /** 데스크탑 */
  }

/* .about{
  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
} */


.about-contentbox{
  margin-top: 204px;
  font-size: 16px;
}

.about-contentbox1{
  margin-left: 20%;
  text-align: left;
}

.about-title1{
  font-weight: bold;
  font-size: 1.6rem;
  color: #444CFF;
}


.about-maintitle1{
  margin-top: 2%;
  font-weight: bold;
  font-size: 3.2rem;
  width: 510px;
}

.about-subtitle1{
  margin-top: 2%;
  font-size: 1.6rem;
  width: 285px;
}


.about-contentbox2{
  margin-top: 204px;
  margin-right:20%;
  text-align: right;
}

.about-title2{
  font-weight: bold;
  font-size: 1.6rem;
  color: #444CFF;
}

.about-maintitle2{
  margin-top: 2%;
  font-weight: bold;
  font-size: 3.2rem;
  
}

.about-subtitle2{
  margin-top: 2%;
  font-size: 1.6rem;
 
}

.about-contentbox3{
  margin-top: 204px;
  margin-left: 20%;
  text-align: left;
}

.about-title3{
  font-weight: bold;
  font-size: 1.6rem;
  color: #444CFF;
}

.about-maintitle3{
  margin-top: 2%;
  font-weight: bold;
  font-size: 3.2rem;
  width: 460px;
}

.about-subtitle3{
  margin-top: 2%;
  font-size: 1.6rem;
  width: 310px;
}




.member-title{
  margin-top: 204px;
  margin-left: 20%;
  font-size: 2rem;
  font-weight: bold;

}

.member-box{
    text-align: center;
    margin-top: 121px;
    flex-direction: row;
}