.admin-recruit-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  th,
  tb {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
}

.admin-recruit-table-thead {
  background-color: #444cff;
  color: #ffffff;
}

.admin-recruit-button {
  background-color: #444cff;
  color: white;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}
