.midpassed {
    /* background: linear-gradient(90deg, #A1C4FD, #C2E9FB);  */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f5f5f5 */
    
    ;
}

/* .midpassed-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    color: #000000; 
    text-align: center;
    border-radius: 25px;
    padding: 50px;
} */

.midpassed-title {
    font-size: 24px;
    color: #000000; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.midpassed-title span {
    font-size: 24px;
    font-weight: bold;
    color: #000000; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.midpassed-texts {
    font-size: 16px;
    /* font-weight: bold; */
    color: #000000;
    line-height: 1.6;
    margin-bottom: 30px;
}

.midpassed-texts p {
    margin: 10px 0;
}

.midpassed-texts span {
    font-size: 20px;
    font-weight: bold;
    color: red; 
}

.midpassed-text2 span {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}


.midpassed-reservebtn {
    background-color: #444cff; 
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midpassed-reservebtn:hover {
    background-color: #A1C4FD;
}

.midpassed-reservebtn:active {
    background-color: #3a76a6;
}

.back-box{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 반응형 디자인 */
@media (max-width: 600px) {

    .midpassed {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        padding: 20px
        
        
    }

    .midpassed-title {
        font-size: 20px;
    }

    .midpassed-texts p span {
        font-size: 18px;
    }

    .midpassed-texts {
        font-size: 14px;
    }

    .midpassed-reservebtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}
